:root{
  --vh: 5px;
  --square: 40px;

  --move: rgba(94, 252, 141, 0.5);
  --last: rgba(216, 252, 141, 0.5);

  --back: rgba(245, 245, 245, 1);
  --low: rgba(240, 249, 255, 1);
  --mid: rgba(224, 242, 254, 1);
  --high: rgba(186, 230, 253, 1);
  --full: rgba(125, 211, 252, 1);
  --text: rgba(50, 50, 50, 1);
}

button[data-move='yes']{
  background-color: var(--move);
}

button[data-last='yes']{
  background-color: var(--last);
}