.boardButton[data-color='white']{
  background-color: var(--low);
}

.boardButton[data-color='black']{
  background-color: var(--mid);
}

.boardButton[data-move='yes']{
  background-color: var(--move);
  opacity: 0.4;
}

.boardButton[data-last='yes']{
  background-color: var(--last);
  opacity: 0.4;
}

input:hover{
  outline-color: var(--low);
}

input:focus{
  outline-color: var(--mid);
}

input:active{
  outline-color: var(--high);
}

.container:hover input ~ .checkmark {
  background-color: var(--low);
}

.container input:checked ~ .checkmark {
  background-color: var(--mid);
}