html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  position: fixed;
  background-color: var(--background);
  color: var(--foreground);
  height: calc(var(--vh) * 100);
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior-y: contain;
  overflow: hidden;
  touch-action: pan-y;
}

main{
  display: block;
}

pre{
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

[data-state*="selected"]{
  background-color: var(--selected);
}

div{
  border-radius: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea{
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select{
  text-transform: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  border-style: none;
  box-sizing: border-box;
}

button{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--buttonBackground);
  color: var(--foreground);
  margin: 0.5%;
  padding: 0.5%;
  outline: 0;
  border: 0;
  border-radius: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
}

button,
[type="button"],
[type="reset"],
[type="submit"]{
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline: 1px dotted ButtonText;
}

fieldset{
  padding: 0.35em 0.75em 0.625em;
}

button img{
  width: 90%;
  height: 90%;
}

button:hover{
  background-color: var(--selected);
}

button:active{
  transform: scale(90%, 90%);
}

a{
  color: var(--hyperlink);
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
}

select{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--buttonBackground);
  color: var(--foreground);
  margin: 0.5%;
  padding: 0.5%;
  outline: 0;
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  text-align: center;
}

textarea{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--buttonBackground);
  color: var(--foreground);
  margin: 0.5%;
  padding: 0.5%;
  outline: 0;
  border: 0;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: auto;
}

input{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: var(--buttonBackground);
  color: var(--foreground);
  margin: 0.5%;
  padding: 0.5%;
  outline: 0;
  border: 0;
  border-radius: 12px;
  text-align: center;
  line-height: 1;
  box-sizing: border-box;
}