#messageBox{
  z-index: 10;
  background-color: var(--foreground);
  color: var(--background);
  position: absolute;
  width: 100%;
  height: calc(var(--vh) * 10);
  max-height: 50px;
  top: calc(var(--vh) * 80);
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}